.grid-section .entries {
	.entry {
		background: transparent;
		padding: 0.3rem;
		text-align: center;
		cursor: pointer;
		transition:
			transform 0.15s,
			box-shadow 0.15s;

		&:hover {
			transform: scale(1.5);
		}

		img {
			image-rendering: pixelated;
            user-select: none;
			width: 60px;
			height: 60px;
			object-fit: contain;
			margin-bottom: 0.3rem;
		}
	}
}
