.grid-section .entries {
	.entry {
		background: transparent;
		padding: 0.3rem;
		text-align: center;
		cursor: pointer;
		transition:
			transform 0.3s cubic-bezier(0.35, 1.5, 0.65, 1),
			opacity 0.3s ease-in;

		&:hover {
			transform: scale(1.5);
		}

		img {
			image-rendering: pixelated;
			user-select: none;
			width: 60px;
			height: 60px;
			object-fit: contain;
			margin-bottom: 0.3rem;
		}
	}
}
