.sidebar {
    .item-panel {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

	img {
		image-rendering: pixelated;
        user-select: none;
		width: 100px;
		height: 100px;
		object-fit: contain;
		margin-bottom: 0.5rem;
	}

	h2 {
        font-size: 1.2rem;
	}

	p {
		font-size: 0.85rem;
        line-height: 1.2rem;
	}

	.rarity {
		margin: 0.3rem 0;
		padding: 0.2rem 0.4rem;
		font-weight: bold;
		text-transform: uppercase;

		&.rarity-common {
			color: limegreen;
		}
		&.rarity-rare {
			color: lightskyblue;
		}
		&.rarity-epic {
			color: #9c27b0;
		}
		&.rarity-legendary {
			color: #ff9800;
		}
	}
}
