@use '../../styles/variables' as vars;
@use 'sass:color';

.search-bar {
	display: flex;
	padding: 0.5rem;

	input {
		width: 100%;
		padding: 0.5rem 0.8rem;
		border: 1px solid vars.$border-color;
		background-color: color.adjust(vars.$background, $lightness: -5%);
		color: vars.$foreground;
		font-size: 1rem;

		&:focus {
			outline: none;
		}
	}
}
